.dynamic-list-wrapper {
    .dynamic-list-carousel {
        height: 200px;
    }
    .dynamic-list-type {
        h3>a {
            color: @gray;
        }
    }

    .content {
        .slick-track, .slick-list {
            height: 100%;
        }
        .dynamic-list-item {
            padding: 2px;
            position: relative;
            p {
                margin: 0 0 2px;
            }
            .dynamic-list-title {
                position: absolute;
                word-break: break-word;
                height: auto;
                max-height: 100%;
                color: @carousel-slide-text-color;
                background: @carousel-text-background-color;
                transition: opacity 0.5s ease;
                bottom: 0;
                left: 2px;
                right: 2px;
                padding: 0px 2px 2px;
                z-index: 1;
                opacity: 0;
                &:hover {
                    opacity: 1;
                }
                &.no-image {
                    opacity: 1;
                }
            }
            .dynamic-list-image {
                height: 200px;
                margin: auto;
            }
            .dynamic-list-icon {
                height: 100%;
                display: flex;
                .iconlabel {
                    flex: 0 0 100%;
                    margin: 0;
                    border: 1px solid #d1d1d1;
                    line-height: 200px;
                    text-align: center;
                    font-size: 24px;
                    color: #d1d1d1;
                }
            }
        }
    }

    .slick-prev, .slick-next {
        width: 20px;
        background: rgba(35,35,35,.1);
        overflow-x: hidden;
        z-index: 1;
        height: 45px;
        &:before {
            color: @gray;
        }
    }
}

.dynamic-list-results {
    .pagination-container {
        margin: 10px 0;
    }
    display: flex;
    flex-flow: column wrap;
    .dynamic-list-result {
        margin: 5px 0;
        .dynamic-list-title {
            font-size: 20px;
            font-weight: 400;
        }
        .dynamic-list-info {
            padding: 10px;
        }
        .dynamic-list-image-wrapper {
            height: 200px;
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 10px;
            img {
                max-height: 100%;
            }
            .dynamic-list-icon {
                height: 100%;
                width: 100%;
                display: flex;
                .iconlabel {
                    flex: 0 0 100%;
                    margin: 0;
                    border: 1px solid #d1d1d1;
                    line-height: 200px;
                    text-align: center;
                    font-size: 24px;
                    color: #d1d1d1;
                }
            }
        }
    }
    .dynamic-list-result, .dynamic-list-result>a {
        display: flex;
        flex-flow: row nowrap;
        @media (max-width: @screen-xs-max) {
            flex-flow: column wrap;
        }
        color: @gray;
    }
}