; Facet settings for restricted Solr (R2) search

; Inherit main configuration
[Parent_Config]
relative_path = facets.ini
override_full_sections = "Results,ResultsTop,SpecialFacets,CheckboxFacets,Results_Settings,Author,Advanced,Advanced_Settings,HomePage,HomePage_Settings,"

; Add any overrides below

; The order of display is as shown below
; The name of the index field is on the left
; The display name of the field is on the right
[Results]
;sector_str_mv      = Sector
;institution        = Institution
building           = Organisation
;building_sub_str_mv = Department
format             = Format
;format_ext_str_mv  = Format

; Use callnumber-first for LC call numbers, dewey-hundreds for Dewey Decimal:
;callnumber-first    = "Call Number"
;dewey-hundreds      = "Call Number"
;hierarchy_top_title = Collections
author_facet        = Author
language            = Language
original_lng_str_mv = original_work_language
subtitle_lng_str_mv = subtitle_language
main_date_str       = "Year"
search_daterange_mv = "Main Year"
major_genre_str_mv  = "Major Genre"
genre_facet         = Genre
era_facet           = Era
geographic_facet    = Region
;publishDate         = "adv_search_year"  ; share year string w/advanced search page
topic_facet         = Topic
usage_rights_str_mv = "Usage Rights"
hierarchy_parent_title = component_part_is_part_of
first_indexed       = "New Items in Index"
category_str_mv     = category_facet_heading

[CheckboxFacets]
;edition:1st* = "First Edition"     ; Contrived hypothetical example
online_boolean:1 = online_material_facet_html
;free_online_boolean:1 = free_online_material_facet_html
;source_available_str_mv:* = available_locally_facet_html
