[General]
enabled = 0
language = fi
consortiumInfo = 0

; Default organisation id for widgets
defaultOrganisation = vaski

; How long content is cached locally in minutes.
; Set this to false or comment out to disable caching.
cachetime = 0

url = "https://api.kirjastot.fi/v3"

; OpenStreetMap
;mapTileUrl = 'http://tile.openstreetmap.org/{z}/{x}/{y}.png'

; DigiTransit / HSL
mapTileUrl = 'https://api.digitransit.fi/map/v1/hsl-map/{z}/{x}/{y}.png'

attribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'


routeUrl = "http://www.matka.fi/fi/?keya=&keyb={street},%20{city}"
mapUrl = "http://maps.google.com/?q={street}%20{city}"

services[55290] = "wifi"
services[55318] = "wifi"
services[55342] = "print"
services[55266] = "print"
services[55322] = "print"


