; Configuration for Kirjastohakemisto (https://api.kirjastot.fi) widgets
; (organisation page, opening times).
;
; Embed organisation page widget to a template:
;    <?=$this->organisationPage('<id>')?>
; Embed opening times widget to a template:
;    <?=$this->organisationInfo('<id>')?>
;
; Leave out <id> to use the configured default organisation:
;    <?=$this->organisationPage()?>
;    <?=$this->organisationInfo()?>

[General]
enabled = 0

; Map widget (google|openlayers)
mapWidget = openlayers

; Default organisation id for widgets
defaultOrganisation = vaski

// Option for overriding user language.
// Language is Kirjastohakemisto 'lang' attribute compatible
; (en, fi, ru, se, sv)
;language = fi

; How long content is cached locally in minutes.
; Set this to false or comment out to disable caching.
cachetime = 5

; Kirjastohakemisto API URL
url = "https://api.kirjastot.fi/v3"

; Google API key. Only used with Google Maps widget.
;googleAPIKey = 'KEY'

; URL template for route information links
routeUrl = "http://www.matka.fi/fi/?keya=&keyb={street},%20{city}"
; URL template for map links
mapUrl = "http://maps.google.com/?q={street}%20{city}"

; Service mapping (only for opening times widget)
services[55290] = "wifi"
services[55318] = "wifi"
services[55342] = "print"
services[55266] = "print"
services[55322] = "print"


; List of configured organisations.
;
; Section name is the top-level code from the index field 'building',
; without leading '0/' and trailing '/'. For example, configuration for
; the organisation with the building code '0/Vaski/' is inserted to a
; section named 'Vaski'. The same code has to be saved to Kirjastohakemisto
; consortium field 'Finna ID'.
;
; The section supports the following options:
; - 'default' Kirjastohakemisto id of the default library that is shown
;             when organisation page is opened.

[vaski]
default = 85141

