; ----------------------------------------------
; General settings for R2 restricted Solr search
; ----------------------------------------------
[R2]
enabled = false
apiUser = 
apiKey = 

[Index]
url             = 
default_core    = 

[Http]
;ssl_allow_selfsigned = true

; ---------------------
; Search settings
; ---------------------

; This section contains global settings affecting search behavior.
[General]
default_handler      = AllFields    ; Search handler to use if none is specified

; This setting controls the default sort order of search results if no search-
; specific setting was present in the [DefaultSortingByType] section below; the
; selected option should be one of the options present in the [Sorting] section
; below.
default_sort         = "relevance,id asc"

; This setting controls the sort order to be used for empty search when relevance
; sort is selected. Since relevance doesn't have a meaningful function with an empty
; search, this can be set to e.g. "title".
empty_search_relevance_override = "last_indexed desc,id asc"

; This setting controls the default view for search results; the selected option
; should be one of the options present in the [Views] section below.
default_view         = list

; This setting controls the view options list type. If this is set true, view options
; will be shown as icons instead of dropdown list.
view_options_icons   = true

; This section controls the result limit options for search results. default_limit
; sets the default number of results per page. limit_options is a comma-separated
; list of numbers to be presented to the end-user. If only one limit is required,
; set default_limit and leave limit_options commented out.
; WARNING: using large limits may require you to raise your PHP memory limits to
; avoid errors.
default_limit        = 20
default_limit_grid   = 50
default_limit_condensed = 100
limit_options        = 20,50,100

; If this setting is true, boolean operators in searches (AND/OR/NOT) will only
; be recognized if they are ALL UPPERCASE.  If set to false, they will be
; recognized regardless of case.  If set to a comma-separated list of operators
; (e.g. "AND,NOT") then only the listed operators will be case-sensitive.
case_sensitive_bools = true

; If this setting is true, range operators in searches ([a TO b] or {a TO b})
; will only be recognized if the word "TO" is ALL UPPERCASE.  Additionally, the
; edges of the range may be treated in a case sensitive manner.  If set to false,
; ranges will be recognized regardless of case -- this will allow better matching
; at the cost of a bit of extra server-side processing.
case_sensitive_ranges = true

; These are the default recommendations modules to use when no specific setting
; are found in the [TopRecommendations], [SideRecommendations] or
; [NoResultsRecommendations] sections below.
; See the comments above those sections for details on legal settings.  You may
; repeat these lines to load multiple recommendations.
;default_top_recommend[] = TopFacets:ResultsTop
;default_top_recommend[] = AuthorityRecommend
default_noresults_recommend[] = SwitchType
default_noresults_recommend[] = SwitchQuery
default_noresults_recommend[] = SpellingSuggestions
default_side_recommend[] = SideFacetsDeferred:Results:CheckboxFacets:facets-R2

; Set this to true in order to highlight keywords from the search query when they
; appear in fields displayed in search results.
highlighting = true

; Set this to restrict the list of fields that will be highlighted (the hl.fl
; Solr parameter); default = '*' for all fields:
highlighting_fields = "author,author2,author_additional,author_fuller,container_title,contents,culture,description,dewey-full,edition,era,genre,geographic,institution,isbn,issn,language,lccn,material,measurements,publication_place_txt_mv,publisher,series,series2,title,title_alt,title_full,title_new,title_old,topic"

; Set this to true in order to include a text snippet in the search results when
; a keyword match is found in a field that is not normally displayed as part of
; the listing.  For finer control over which fields are used for snippets, see
; the record driver code (web/RecordDrivers/IndexRecord.php).
;
; For control over snippet captions, see the [Snippet_Captions] section below.
snippets = true

; When you filter a search using facets, VuFind will present a checkbox that can
; be used to apply those filters to the next search you perform.  This setting
; controls its default state: on (true) or off (false).
retain_filters_by_default = true

; Whether to hide merged component parts
hide_component_parts = true

; Maximum result to display
result_limit = 100000

[Autocomplete]
enabled = true
default_handler = R2

[Record]
;related[] = "RecordDriverRelatedDeferred"

; ---------------------
; Facet settings
; ---------------------

[Results]
sector_str_mv      = Sector
;institution        = Institution
building           = Organisation
;building_sub_str_mv = Department
format             = Format
;format_ext_str_mv  = Format

; Use callnumber-first for LC call numbers, dewey-hundreds for Dewey Decimal:
;callnumber-first    = "Call Number"
;dewey-hundreds      = "Call Number"
;hierarchy_top_title = Collections
author_facet        = Author
;author2_id_str_mv = Author
;author2_id_role_str_mv = Author role
language            = Language
original_lng_str_mv = original_work_language
subtitle_lng_str_mv = subtitle_language
main_date_str       = "Year"
search_daterange_mv = "Main Year"
major_genre_str_mv  = "Major Genre"
genre_facet         = Genre
;era_facet           = Era
geographic_facet    = Region
;publishDate         = "adv_search_year"  ; share year string w/advanced search page
topic_facet         = Topic
usage_rights_str_mv = "Usage Rights"
hierarchy_parent_title = component_part_is_part_of
first_indexed       = "New Items in Index"
category_str_mv     = category_facet_heading
