; Resource Entitlement Management System (REMS)

[General]
apiUrl = 
apiKey = 
apiAdminUser =
apiApproverUser =

; REMS catalog item id
catalogItem = 

; Resource item id
resourceItem = ""


[RegistrationForm]

; REMS registration form field id's
field[firstname] = 
field[lastname] = 
field[email] = 
field[usage_purpose] = 
field[age] = 
field[license] = 
field[user_id] = 

public_key = ""